fastapi==0.109.2
uvicorn[standard]==0.27.1
motor==3.3.2
beanie==1.25.0
pymongo==4.6.1
spacy==3.7.4
vaderSentiment==3.3.2
scikit-learn==1.4.1.post1
numpy==1.26.4
PyMuPDF==1.23.21
google-generativeai>=0.7.2
python-dotenv==1.0.1
pydantic-settings==2.1.0
clerk-backend-api==5.0.6
python-multipart==0.0.9
